/* ======================================= */
/* CONFIGURACIÓN BASE DE LA TABLA LISTADO  */
/* ======================================= */
.table-view {
    -fx-base: #2B333F;
    -fx-table-cell-border-color: #3D4856;
    /* ANULA FOCO GLOBAL DE LA TABLA */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Encabezados y Cebra (sin cambios) */
.table-view .column-header,
.table-view .filler {
    -fx-background-color: #3D4856;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell:odd {
    -fx-border-width: 0;
    -fx-background-color: #F0F0F0;
}

.table-row-cell:even {
    -fx-border-width: 0;
    -fx-background-color: #E8E8FF;
}

.table-cell {
    -fx-border-width: 0;
    -fx-text-fill: #333333;
}

/*Fila Seleccionada (Siempre azul)*/
.table-row-cell:selected {
    -fx-border-width: 0;
    -fx-background-color: #007AFF;
    -fx-text-fill: white;
    -fx-background-insets: 0, 0; /* Asegura que el foco no tenga margen */
}
